<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/public/styles/about.css" />
    <title>About Extremoduro</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img
          class="extremoduro-img"
          src="/public/images/extremoduro-logo.png"
          alt="Extremoduro logo"
        />
        <div>
          <ul class="navbar-list">
            <li><a href="/home" class="button">Back to home</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <section>
      <div class="img">
        <img
          src="/public/images/live_event.jpeg"
          alt="Extremoduro live event"
        />
      </div>
      <p>
        <span>Extremoduro</span> was a Spanish rock band music founded by
        Roberto Iniesta in 1987. They defined their music style as
        <span class="italic">rock transgresivo</span> from the beginning, based
        on a hard rock agressive style with explicit lyrics who deals with love,
        sex and drugs. It is considered by many music critics as one of the most
        important and influential bands in the history of Spanish rock.
      </p>
    </section>
  </body>
</html>
