<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/discography.css" />
    <title>Discography</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img
          class="extremoduro-img"
          src="/images/extremoduro-logo.png"
          alt="Extremoduro logo"
        />
        <div>
          <ul class="navbar-list">
            <li><a href="/home" class="button">Back to home</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <section>
      <h1>Discography</h1>
      <ul>
        <li>Rock Transgresivo (1989)</li>
        <li>Somos unos animales (1991)</li>
        <li>Deltoya (1992)</li>
        <li>¿Dónde están mis amigos? (1993)</li>
        <li>Pedrá (1995)</li>
        <li>Agila (1996)</li>
        <li>Iros todos a tomar por culo (1997)</li>
        <li>Canciones prohibidas (1998)</li>
        <li>Yo, minoría absoluta (2002)</li>
        <li>La ley innata (2008)</li>
        <li>Material defectuoso (2011)</li>
        <li>Para todos los públicos (2013)</li>
      </ul>
    </section>
  </body>
</html>
