<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/public/styles/normalize.css" as="style" />
    <link rel="preload" href="/public/styles/style.css" as="style" />
    <link rel="stylesheet" href="/public/styles/normalize.css" />
    <link rel="stylesheet" href="/public/styles/style.css" />
    <title>Extremoduro</title>
  </head>
  <body>
    <header>
        <nav class="navbar">
            <img class="extremoduro-img" src="/public/images/extremoduro-logo.png" alt="Extremoduro logo" />
          <div>
            <ul class="navbar-list">
              <li><a href="/views/about.html" target="_blank">About</a></li>
              <li><a href="/views/discography.html" target="_blank">Discography</a></li> 
              <li><a href="/views/gallery.html" target="_blank">Gallery</a></li>
            </ul>
          </div>
        </nav>
    </header>
    <main>
      <div class="container">
        <h1>Extremoduro</h1>
      </div>
    </main>
    <footer>

    </footer>
  </body>
</html>
